html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.2;
  font-family: Roboto, sans-serif;
  background-color: #3b3a45;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
}

.passed-tomatos {
  margin-bottom: 60px;
}

.timer {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 9em;
  line-height: 1.2;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 350px;
  width: 100%;
  margin-bottom: 100px;
}

.button {
  width: 170px;
  height: 50px;
  font-size: 1.2em;
  line-height: 1.2;
  border: 3px solid #FFFFFF;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.button-start {
  color: #3b3a45;
  background-color: #ffffff;
}

.button-stop {
  color: #ffffff;
  background-color: transparent;
}

@media screen and (max-width: 420px) {
  .timer {
    font-size: 7em;
  }
  .buttons-container {
    justify-content: center;
  }
}
