* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alumni Sans', sans-serif;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}
